body {
  background-color: #fffdfe;
}

.serif {
  font-family: "DM Serif Display", serif;
}

.sans {
  font-family: "DM Sans", sans-serif;
}

.title1 {
  font-size: 100px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cursive {
  font-style: italic;
}
