.cycle-defenition {
  font-size: 3.2rem;
  max-width: 650px;
  text-align: center;
  line-height: 3.9rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.advice-section {
  font-size: 1.4rem;
  font-weight: 500;
  background: #e0def5;
  border-radius: 19px;
  border: 1px solid #000;
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
}

/* Accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Accordion */
